* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #1c1c1c;
}

body {
  background: hsl(195, 32%, 90%);
}
/*
.flex-wrapper {
  display: flex;
} */

input[type=text],
input[type=email],
input[type=number],
input[type=url],
input[type=password] {
  flex: 1 1 2rem;
  height: 2rem;
  margin: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 1.5px;
  padding: 0.6rem;
  font-size: 1rem;
}

textarea {
  margin: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 1.5px;
  padding: 0.6rem;
  font-size: 1rem;
}

button {
  padding: 0.4rem 0.8rem;
  /* flex: 1 0 2rem; */
  font-size: 0.9rem;
  border-radius: 0.2rem;
  border: none;
  background-color: hsl(201, 76%, 51%);
  border: 0.08rem solid hsl(201, 76%, 51%);
  font-weight: 800;
  color: hsl(0, 0%, 92%);
  letter-spacing: 0.04rem;
}

.btn-secondary {
  color: hsl(201, 76%, 51%);
  border: 0.08rem solid hsl(201, 76%, 51%);
  background-color: hsla(0,0%,0%,0);
}

form button {
  margin: 10px;
}