.item {
  display: flex;
  /* width: 50%; */
  /* margin: auto; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
/*
.price {
  justify-self: end;
} */